services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: shef-lms-backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs
    restart: unless-stopped
    networks:
      - shef-lms-network

networks:
  shef-lms-network:
    driver: bridge
